:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--second-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/*код Васі*/

--main-color:rgb(220, 184, 7);
--second-color:rgb(13, 14, 14);
--third-color:rgb(70, 134, 78);
--dop-color:rgb(234,22,5);
--hover-color:rgb(255,215,0);
--padding-main:20px;
--padding-extra:40px;
--padding-small:10px;
--margin-main:20px;
--margin-extra:40px;
--margin-small:10px;
--shadow-main:0 4px 12px rgba(0,0,0,0.25);
--radius-main:10px;
--radius-extra:20px;
--radius-small:5px;
--trans-main:0.3s ease;
}

a {
  width: 200px;
  font-weight: 500;
  color:var(--hover-color);
  text-decoration: inherit;
}
a:hover {
  color:var(--third-color);
}

body {
  margin: var(--margin-main);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--radius-main);
  border: 1px solid var(--main-color);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--second-color);
  cursor: pointer;
  transition: var(--trans-main);
}
button:hover {
  border-color:var(--hover-color);
  color:var(--hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: var(--padding-small);
  box-shadow: var(--shadow-main);
  border-radius: var(--radius-main);
}

#app {
  padding: var(--padding-main);
}

@media (prefers-color-scheme: light) {
  :root {
    color:var(--third-color);
    background-color: var(--second-color)
  }
  a:hover {
    color:var(--main-color);
  }
  button {
    background-color: var(--third-color);
  }
}
